<div class="container text-center mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <main
        class="row-cols-3 py-4 d-flex align-items-center bg-warning-subtle rounded"
      >
        <label class="display-1 fw-semibold">{{ dicaNumeroMaiorQue }}></label>

        <div class="d-flex flex-column gap-2">
          <input
            [(ngModel)]="numeroDigitado"
            class="display-1 text-center fw-bold"
            type="number"
            min="1"
            max="100"
          />
          <button
            *ngIf="!jogoEstaFinalizado"
            (click)="adivinhar()"
            class="btn btn-primary"
          >
            Adivinhar
          </button>
          <button
            *ngIf="jogoEstaFinalizado"
            (click)="reiniciar()"
            class="btn btn-success"
          >
            Reiniciar
          </button>
        </div>

        <label class="display-1 fw-semibold"><{{ dicaNumeroMenorQue }}</label>
      </main>

      <div *ngIf="numerosDigitados.length > 0" class="mt-3">
        <label class="fs-5 fw-semibold">Tentativas realizadas</label>
        <div
          class="row m-2 d-flex justify-content-center align-items-start gap-2"
        >
          <span
            class="col-2 col-md-1 text-bg-primary p-2"
            *ngFor="let numero of numerosDigitados"
          >
            {{ numero }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
